<button data-ng-click="register()" data-ng-disabled="game.player.name">Register</button>
<button data-ng-click="join()" data-ng-disabled="!game.is_registered || (game.is_registered && game.is_joined)">Join</button>
<button data-ng-click="leave()" data-ng-disabled="!game.is_registered || (game.is_registered && !game.is_joined)">Leave</button>
<button data-ng-click="start()">Start</button>
<button data-ng-click="stop()">Stop</button>

<div data-ng-if="game.creator">{{game.creator}} is the game creator.</div>
<div data-ng-if="!game.is_started" data-ng-repeat="player in game.players">{{player.name}} has joined.</div>
<div data-ng-if="game.is_started">Game has been started!</div>


<div data-ng-if="game.is_started">
    <div class="row-fluid">
        <div class="span4">
            <h3>Discard Pile</h3>
            <img data-ng-src="asset/img/cards/{{game.turn_data.number + game.turn_data.color}}.png" height="200" width="137">
        </div>
        <div class="span4">
            <h3>Draw Pile</h3>
            <a href="">
                <img src="asset/img/cards/back.png" data-ng-click="draw()" height="200" width="137">
            </a>
        </div>
        <div class="span4">
            <h3>Chat Room</h3>
            <div id="chats" style="overflow-y:auto;word-wrap:break-word;background-color:white;width:270px;height:200px;border:1px solid black">
                <div data-ng-repeat="text in game.chats track by $index">{{text}}</div>
            </div>
            <form>
                <input type="text" data-ng-model="game.message" style="margin-top:10px">
                <button type="submit" data-ng-click="chat()">Send</button>
            </form>
        </div>
    </div>
    <h3>Players</h3>
    <div data-ng-repeat="player in game.players">
        <hr>
        <h4 style="{{player.turn ? 'color:red' : ''}}">{{ player.name }}</h4><span data-ng-if="player.id != game.player.id">{{ player.cards_length }} card(s).</span>
        <div data-ng-if="player.id == game.player.id">
            <div data-ng-repeat="card in player.cards" style="display:inline;margin:5px;height:150px;width:103px">
                <a href="">
                    <img data-ng-click="drop(card)" data-ng-src="asset/img/cards/{{card.number + card.color}}.png" style="height:150px;width:103px">
                </a>
            </div>
        </div>
        <hr>
    </div>
</div>